.form-select {
  margin: 10px 0 30px;
  .title {
    font-size: 16px;
    font-weight: 400;
    color: #999;
    margin: 0 0 10px;
  }
  .options {
    position: relative;
    &:after {
      content: '';
      top: 50%;
      right: 20px;
      width: 0;
      height: 0;
      position: absolute;
      z-index: 1002;
      border-top: 6px solid #999;
      border-left: 4px solid transparent;
      border-right: 4px solid transparent;
      transform: translateY(-50%);
    }
  }
  select {
    width: 100%;
    padding: 9px 20px;
    border: 0;
    border-radius: 3px;
    background-color: #f8f8fa;
    color: #333;
    font-size: 16px;
    font-weight: 600;
    appearance: none;
  }
}
